body {
    background-image: url('assets/img/background.jpg');
    background-size: cover;
}

footer {
    background-color: rgba(24, 12, 31, 0.93);
    font-size: 16px;
    color: white;;
}

footer a:hover {
    text-decoration: none;
    color: #ff94f7;
    text-shadow: 0px 0px 10px #ff94f7;
    transition-duration: .3s;
}

.logo {
    max-height: 350px;
}

.logo-container {
    background-image: url('assets/img/flow.gif');
}

.menu {
    font-size: 25px;
    background-color: rgba(97, 22, 59, 1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu a {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.menu a:hover {
    text-decoration: none;
    color: #ff94f7;
    text-shadow: 0px 0px 10px rgba(97, 22, 59, 0.8);;
    transition-duration: .3s;
}

.news-container {
    background-image: url('assets/img/book-gif.gif');
    background-size: cover;
    font-size: 25px;
    color: white;
}

.news-container h1 {
    font-size: 45px;
    font-weight: bold;
    background: rgb(0 0 0 / 80%);
}

.news-container h2 {
    font-size: 40px;
    font-weight: bold;
}

.new {
    padding: 35px;
    background-color: #330b33;
    border-radius: 25px;
    text-align: left;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.last-volumes {
    max-width: 1300px;
    border-radius: 15px;
}

.last-volumes img {
    border-radius: 15px;
    max-width: 280px;
}

.panel-description {
    width: 80%;
    max-width: 1300px;
    background: rgba(0,0,0,0.8);
    border-radius: 15px;
}

.panel-description h1 {
    font-size: 45px;
    font-weight: bold;
    background: none;
    padding-bottom: 12px;
}

.panel-description img {
    width: 100%;
    border-radius: 15px;
    max-width: 700px;
    border: 1px solid white;
}

.panel-description ul {
    list-style: none;
    padding: 15px;
    font-size: 25px;
}

.panel-description-icons {
    font-size: 22px !important;
    padding-right: 8px;
}

.manga-table {
    width: 80%;
    max-width: 1300px;
    background: rgba(0,0,0,0.8);
}

.manga-table img {
    width: 100%;
    border-radius: 15px;
    padding: 8px;
}

.manga-table th, td {
    border: 1px solid white;
}

.manga-table th {
    padding: 12px;
    text-align: center;
    background-color: #330b33;
    font-size: 30px;
}

.manga-table td {
    font-size: 20px;
    padding: 15px;
}

.manga-table td:nth-child(2) {
    min-width: 180px;
}

.manga-table td:nth-child(2), td:nth-child(4){
    text-align: center;
}

.footer-info h1 {
    font-size: 20px;
    font-weight: bold;
}

.footer-info ul {
    list-style: none;
    padding: 12px;
    font-size: 16px;
}

.footer-container {
    max-width: 1500px;
}

.logo-footer {
    max-height: 150px;
}

.footer-icon {
    font-size: 16px !important;
}

/* Scrollbar styling */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(0 0 0 / 80%);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(151, 32, 91, 0.8);
    border-radius: 20px;
}

/* Social media */
.icon-bar {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 1000;
}
  

.icon-bar a {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: rgb(97 22 59);
    font-size: 20px;
    border-radius: 100px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 8px;
    background-color: white;
}

.icon-bar a:hover {
    background-color: #ff88c3;
    color: white;
}